<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Clearway</string>
  <key>CFBundleDisplayName</key>
  <string>Clearway</string>
  <key>CFBundleIdentifier</key>
  <string>com.clearway.mobile</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIRequiredDeviceCapabilities</key>
  <array>
    <string>armv7</string>
  </array>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <false/>
  <key>NSCameraUsageDescription</key>
  <string>Camera is needed to capture and scan documents for capital call processing</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Photo library access is needed to select documents for upload</string>
  <key>NSFaceIDUsageDescription</key>
  <string>Face ID is needed for secure biometric authentication to access your capital call data</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Location is used to enhance security and prevent fraudulent access</string>
  <key>UIBackgroundModes</key>
  <array>
    <string>remote-notification</string>
  </array>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>clearway</string>
      </array>
    </dict>
  </array>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <false/>
    <key>NSExceptionDomains</key>
    <dict>
      <key>clearway.app</key>
      <dict>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <false/>
        <key>NSIncludesSubdomains</key>
        <true/>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
